Package: com.oakstheawesome.test
Name: Test
Version: 0.0.1
Architecture: iphoneos-arm
Description: Practice tweak to get grasp of basics.
Maintainer: OaksTheAwesome
Author: OaksTheAwesome
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), preferenceloader
